body {
    background-color: #EEEEEE;
    }

#nav-col {
    min-height: 100vh;

    }

#main-col {

    }

#main-row {

    }


#header {
    min-height: 20vh;

    }

#main {

    }

#footer {
    min-height: 20vh;
    }


#panel-1 {
    min-height: 60vh;

    }

#panel-2 {
    background-color: #FFFFFF;
    height: 60vh;

    }

#panel-3 {
    height: 60vh;
    color: #FFFFFF;
    font-size: 12px;
    }

#header-tab-row-1 {
    display: flex;
    flex-wrap: wrap;
    background-color: #606060;
    justify-content: space-around;
    height: 100%;
    font-size: 12px;
    }

#header-tab-row-2 {
    height: 100%;

    }

#header-tab-row-1-column-1 {
    min-height: 100%;

    }

#header-tab-row-1-column-2 {
    min-height: 8vh;

    }

#header-tab-row-1-column-3 {
    min-height: 8vh;

    }

#header-tab-row-1 button {
    margin: 0px 5px;

    }

.panela {
    height: 100%;
    overflow-y: scroll;
    background-color: #565656;
    }

.panela-header {
    height: 40px;
    background-color: #FB6E52;
    color: white;
    position: sticky;
    top: 0;
    left: 0;
    }


.panela-header span {
    position: relative;
    left: 40%;
    }


.panelb-header {
    border-bottom: 5px solid #93CDE8;

    }

.panelb-header-arrears {
    color: #93CDE8;
    padding: 10px;
    }

.panelb-header-tenancy {
    color: #FF4362;
    padding: 10px;
    }

.panelb-header-contact {
    color: #93CDE8;
    padding: 10px;
    }

.same-bg-color {
    background-color: #8C8C8C;
    color: #FFFFFF;
    }

.diff-bg-color {
    background-color: #606060;
    color: #FFFFFF;
    width: 150px;
    }

.diff2-bg-color {
    background-color: #CD6F00;
    color: #FFFFFF;
    }


.panelc{

    }

.panelc-header{
    height: 40px;
    background-color:  #5DB2FF;
    color: white;
    position: sticky;
    top: 0;
    left: 0;
    font-size: 12px;
    }

.panelc-header-span2 {
    position: relative;
    left: 40%;
    }








@media (min-width: 967px) {
    .sidebar {
        width:20vw;
        }

    .hide-span {
        text-align: left;
        }

    .nav-div{
        width: 150px;
        }
    }

@media (max-width: 967px) {
    .sidebar {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        padding: 58px 0 0; /* Height of navbar */
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.05), 0 2px 10px 0 rgba(0, 0, 0, 0.05);
        width: 10vw;
        z-index: 600;
        background-color: red;
        }

    .hide-span {
        visibility: hidden;
        text-align: left;
        }
    .nav-div{
        width: 50px;
        }
    }






/*@media (min-width: 991.98px) {*/
/*    main {*/
/*        padding-left: 20vw;*/
/*        }*/


/*    footer {*/
/*        padding-left: 20vw;*/
/*        }*/

/*    .gallery {*/
/*        padding-left: 20vw;*/
/*        }*/


/*    }*/


/*main {*/
/*    margin-top: 58px;*/
/*    background-color: red;*/
/*    }*/

/* Sidebar */
/*.sidebar {*/
/*    position: fixed;*/
/*    top: 0;*/
/*    bottom: 0;*/
/*    left: 0;*/
/*    padding: 58px 0 0; !* Height of navbar *!*/
/*    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 5%), 0 2px 10px 0 rgb(0 0 0 / 5%);*/
/*    z-index: 600;*/
/*    background-color: red;*/
/*    }*/


/*.sidebar .active {*/
/*    border-radius: 5px;*/
/*    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);*/
/*    }*/

/*.sidebar-sticky {*/
/*    position: relative;*/
/*    top: 0;*/
/*    height: calc(100vh - 48px);*/
/*    padding-top: 0.5rem;*/
/*    overflow-x: hidden;*/
/*    overflow-y: auto; !* Scrollable contents if viewport is shorter than content. *!*/
/*    }*/

/*.mask {*/
/*    background-color: rgba(251, 251, 251, 0.2);*/
/*    }*/

/*.copy {*/
/*    background-color: rgba(0, 0, 0, 0.2);*/
/*    }*/


/*    main {*/
/*        padding-left: 8vw;*/
/*        width: 100vw;*/
/*        }*/

/*    footer {*/
/*        padding-left: 8vw;*/
/*        }*/

/*    .gallery {*/
/*        width: 100vw;*/
/*        padding-left: 8vw;*/

/*        }*/

/*    .car {*/
/*        width: 100vw;*/
/*        background-color: blue;*/
/*        }*/

/*    }*/

/*footer {*/
/*    width: 100vw;*/
/*    }*/

/*.gallery {*/
/*    width: 100vw;*/
/*    padding-left: 20vw;*/
/*    padding-right: 1vw;*/
/*    padding-top: 2vh;*/
/*    }*/

/*.settings {*/
/*    position: relative;*/
/*    top: 100px;*/
/*    left: 0px;*/
/*    }*/

/*.cardi {*/
/*    background-color: yellow;*/
/*    display: inline-block;*/
/*    height: 200px;*/
/*    }*/
